<ion-view title="Feedback">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-light" ng-disabled="feedback.message == ''" ng-click="sendFeedback()">Send</button>
  </ion-nav-buttons>


  <ion-content class="has-header">
    <div id="feedback-wrap">
      <div class="padding-horizontal">
        <button class="button button-small button-calm tag" ng-click='addTag(tag)' ng-repeat="tag in tags">
          {{tag}}
        </button>
      </div>

      <div class="list">
        <label class="item item-input">
          <textarea rows="6" placeholder="Message" ng-model="feedback.message" ng-keyup="onMessageKeyUp($event)" ng-change="onMessageChange($event)"></textarea>
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email (Optional)" ng-model="feedback.email">
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
