#home-loading-icon{
  position:absolute;
  top:50px;
  right:16px;
  color:#fff;
  font-size:25px;
  z-index:100;
}

#global-loading{
  i{
    font-size:35px;
  }

  span{
    display:block;
    padding-top:5px;
  }
}